<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--单位是分钟，1-60-->
    <add key="Interval" value="1" />
    <!--网页的标题-->
    <!--<add key ="WebTitle" value="百度一下，你就知道"/>-->
    <!--总装-->
    <add key="WebTitle" value="GEFASOFT Legato Montage" />
    <!--电池-->
    <!--<add key ="WebTitle" value="GEFASOFT Legato Montage"/>-->
    <!--焊装-->
    <!--<add key ="WebTitle" value="GEFASOFT Legato Montage"/>-->
    <!--True or False  -->
    <add key="AutoStartup" value="True" />
    <!--自动点击的坐标位置,屏幕左上角是0,0  向右是Y+,向下是X+ -->
    <add key="ClickPositionX" value="100" />
    <add key="ClickPositionY" value="100" />
    <!--网自动打开的网址,大括号内是full machine name， 程序回自动填入本机名-->
    <add key="AutoOpenUrl" value="https://www.baidu.com/{0}" />
    <!--总装-->
    <add key="AutoOpenUrl" value="https://sapientmo01.cncgc.aufn.rcn0243.vwgroup.com:55301/app/hmi?station={0}" />
    <!--电池-->
    <!--<add key="AutoOpenUrl" value="https://www.baidu.com/{0}" />-->
    <!--焊装-->
    <!--<add key="AutoOpenUrl" value="https://www.baidu.com/{0}" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>