<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>

  <appSettings>
    
    
    <add key="Interval" value="1"/>
    
    <add key ="WebTitle" value="百度一下，你就知道1"/>

    <!--True or False  -->
    <add key ="AutoStartup" value="False"/>
    
    <add key ="ClickPositionX" value="100"/>
    <add key ="ClickPositionY" value="100"/>

    
    
    <add key ="AutoOpenUrl" value="https://www.baidu.com/"/>



  </appSettings>
</configuration>
