<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--单位是分钟，1-60-->
    <add key="Interval" value="5" />
    <!--人为停止后，系统无人操作/空闲x分钟后，自动开始，1-60-->
    <add key="IdleInterval" value="5" />
    <!--网页的标题-->
    <add key="webTitle" value="百度一下，你就知道" />
    <!--总装-->
    <!--<add key="WebTitle" value="GEFASOFT Legato Montage" />-->
    <!--电池-->
    <!--<add key ="WebTitle" value="GEFASOFT Legato Batteriemontage"/>-->
    <!--焊装-->
    <!--<add key ="WebTitle" value="GEFASOFT Legato Montage"/>-->
    <!--True or False  -->
    <add key="AutoStartup" value="True" />
    <!--自动点击的坐标位置,屏幕左上角是0,0  向右是Y+,向下是X+ -->
    <add key="ClickPositionX" value="10" />
    <add key="ClickPositionY" value="10" />
    <!--网自动打开的网址,大括号内是full machine name， 程序回自动填入本机名-->
     <add key="AutoOpenUrl" value="https://www.baidu.com/" /> 
    <!--总装-->
    <!--<add key="AutoOpenUrl" value="https://sapientmo01.cncgc.aufn.rcn0243.vwgroup.com:55301/app/hmi?station={0}" />-->
    <!--电池-->
    <!--<add key="AutoOpenUrl" value="https://sapientbat01.cncgc.aufn.rcn0243.vwgroup.com:55401/app/hmi?station={0}" />-->
    <!--焊装-->
    <!--<add key="AutoOpenUrl" value="https://www.baidu.com/{0}" />-->

    

    <!--<add key="RefreshCron" value="0 1/1 * * * ? " />

    <add key="MoniterPowerOffCron" value="0 1/1 * * * ? " />

    <add key="MoniterPowerOnCron" value="0/1 * * * * ? " />-->
    <add key="RefreshCron" value="0 1/1 * * * ? " />

    <!--x点开启,全天开启设置0-->
    <add key="MoniterPowerOn" value="16" />
    
    <!--x点关闭,全天开启设置24-->
    <add key="MoniterPowerOff" value="15" />


    <add key="MoniterPowerOnCron" value="0/1 * * * * ? " />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>